{% extends 'base.jinja2' %}

{% block header %} <h1>Login</h1> {% endblock %}


{% block body %}
        <form action="{{request.route_url('login')}}" method="post">
            <label for="email"></label>Email <input type="email" name="email" id="email" value="{{email}}">
            <label for="password"></label>Password <input type="password" name="password" id="password" value="{{password}}">
            <input type="submit" name="form.submitted"></input>
        </form>
        <p>
            Don't have an account? 
            <a href="{{request.route_url('signup')}}">Signup</a>
        </p>
{% endblock %}