{% extends 'base.jinja2' %}

{% block header %}<h1>Signup</h1>{% endblock %}

{% block body %}

    <form action="{{request.route_url('signup')}}" method="post">
        <label for="name"></label>Name <input type="text" name="name" id="name" value="{{name}}">
        <label for="email"></label>Email <input type="email" name="email" id="email" value="{{email}}">
        <label for="password"></label>Password <input type="password" name="password" id="password"value="{{password}}">
        <label for="confirm">Confirm Password</label> <input type="password" name="confirm" id="confirm">
        <input type="submit" name="form.submitted"></input>
    </form>

{% endblock %}